.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8e8e8e;
    padding-bottom: 20px;
}

.nav__logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}

.nav__app-logo-icon {
    font-size: 28px;
    margin-right: 7px;
}

.nav__logoLink, .nav__apiLink {
    transition: color 0.3s ease-out;
    color: #fff;
}

.nav__logoLink:hover, .nav__apiLink:hover {
    color: #26a69a;
    text-decoration: none;
}

@media only screen and (max-width: 498px) {
    .nav {
        justify-content: center;
    }
}